body {
    background-color: whitesmoke;
}

#calculator {
    display: flex;
    width: 286px;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5%;
    margin: 25px auto;
    background-color: antiquewhite;
}

#screen {
    display: flex;
    height: 55px;
    margin: 0 5px;
    padding: 0 8px;
    background-color:dimgrey;
    border-radius: 5%;
    font-family: 'Press Start 2P', cursive;
    color: yellowgreen;
    font-size: 32px;
    justify-content: end;
    align-items: center;
}

#grid-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 5px;
}

#bottom-row {
    display: flex;
    justify-content: space-around;
}

#bottom-row button {
    flex-basis: 44%;
}

button {
    background-color: ghostwhite;
    height: 30px;
    padding: 0;
    border-radius: 25%;
    font-size: 1.1rem;
}

button.numeric {
    background-color: gainsboro;
}